@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');


    :root{
         --primary-color:#7C3AED;
         --off-white:#cbd5e1;
         --dark-gray:#6B7280;
    }
  body{
      font-family: 'Monteserrat';
      sans-serify;

      
   }
 
   
   /** container**/
   .main-container{
    background: url(https://s3.envato.com/files/72a8748e-7933-4892-9727-754650581474/inline_image_preview.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
}
   .container{
       padding-left: 20px; padding-right: 20px;
   }

   .container_fluid{
       /** max-width: 600px;**/
        margin: auto;
   }

   /** links**/
   hr{
       margin: 1rem 0rem;
   }
   .link{
       text-decoration: none;
       padding: 0.5rem 1rem;
       
   }

   .primary-link{
     
       color:var(--primary-color);
       border: solid black;
       border-radius:1rem;
       background-color:

   }
   .secondary-link{
       border-radius: 1rem;
        border: solid black;
   }

   .list-non-bullet{
       list-style: none;

   }

   .list-item-inline{
       display: inline;
       padding: 0rem 1rem;
   }

   /**navigation**/

   .navigation{
       padding: 1rem;
       color: white;
        
   }
   .doublelink{
       color: white;
   }
  

   /**Header**/

   .hero{
       padding: 3rem;
   }
   .heading{
       max-width: 600px;
       margin:auto;
       display: block;

   } 
   .img-heading .span-color{
        color: var(--primary-color);
   }
   .center{
       text-align: center;
       font-size:xx-large ;
       color: white;
       
   }
   .center1{
       text-align: center;
       color: white;
   }

   /**section**/
   .section{
       padding: 2rem;
   }
   .main{
       color:white;
       text-align: center;
       font-style: italic;
   }
   
   .section h3{
       text-align: center;

   }
   
/*
   .ow{
       background-color: var(--off-white);
   }

   */
   /**footer**/
   .footer{
    /*background-color: var(--primary-color);
    */
    padding: 2rem 1rem;
    text-align: center;
    color: white;
    border-top-right-radius: 1rem;
   }
   .des{
       padding: 2rem;
       font-size: medium;
   }

.footer .link{
    color: white;
}

/**project**/
.border-col{
    border-radius: 2rem;
     border-color: black;
}
.back{
    url(https://www.seekpng.com/png/detail/426-4267604_time-is-money-time-money-png.png);
}


/* 2.project */
.scene{
    width: 600px;
    height: 700px;
    position: relative;
    overflow: hidden;
}
.scene img{
    position:absolute;

     
}
.city{
    bottom: -3px;
    width: 100%;
    height: 100%;
    object-fit: cover;

}
.plane{
    top: 50px;
    left: -50px;
    width: 45%;
    animation: plane-move 15s linear forwards;

}
.cloud{
    animation: clouds-move 22s linear forwards;

}
.cloud-1{
    width: 70px;
    top: 0%;
    left: 30px;
}
.cloud-2{
    width: 35px;
    top: 20px;
    left: 125px;
}
.boat{
    width: 30%;
    bottom: 0;
    right: -50px;
    animation: boat-move 20s linear forwards;

}
.centerp{
    margin: auto;
}

@keyframes plane-move{
    to{
        transform: translate(300px,-100px);
    }
}
@keyframes clouds-move{
    to{
        transform:
        translate(-25px);
    }
}
@keyframes boat-move{
    to{
        transform: 
        translateX(-300px);
    }
}